{% extends './codes_edited.html' %}
{% load staticfiles %}
{% block content %}

    		<!--content-->
		<div class="content">
			<!--about-->
			<div class="about-w3">
				<div class="container">
					<h2 class="tittle">About Us</h2>
					<div class="about-grids">
						<div class="col-md-6 about-grid">
						 <h4>At a Glance</h4>
							 <p>The International Institute of Information Technology, Hyderabad (IIIT Hyderabad) is an Information technology research university based in Hyderabad, Telangana, India. It was the first autonomous private institute of its kind to be established in 1997. IIIT Hyderabad is one of the top Computer Science institutes of the country. It emphasizes research from the undergraduate level.The institute runs Computer Science courses and research projects and is focused on research. It gives the students interaction with industry, preparation in entrepreneurship and personality development courses.</p>
							<ul class="grid-part">
								<li><i class="glyphicon glyphicon-ok-sign"> </i> Emphasizes research from the undergraduate level.</li>
								<li><i class="glyphicon glyphicon-ok-sign"> </i>Consistent performer from India in ACM International Collegiate Programming Contest (ICPC)</li>
								<li><i class="glyphicon glyphicon-ok-sign"> </i>Several research centres exist here, all conducting some very exciting research.</li>
							</ul>
						 </div>
						<div class="col-md-6 video-grid">
							<iframe  src="https://www.youtube.com/embed/379s_WzePts" frameborder="0"  allowfullscreen></iframe>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!--about-->
			<!--What we do-->
				<div class="what-w3">
					<div class="container">
						<h3 class="tittle">What we do</h3>
						<div class="what-grids">
							<div class="col-md-6 what-grid">
								<div class="mask">
									<img src="{% static 'AlumniManagement/images/iithyderabad_driverless_car.jpg' %}" class="img-responsive zoom-img" />
								</div>
								<div class="what-bottom">
									<h4>Research</h4>
									<p>IIIT-H was set up as a research university focused on the core areas of Information Technology, such as Computer Science, Electronics and Communications, and their applications in other domains. The institute evolved strong research programmes in a host of areas, with computation or IT providing the connecting thread, and with an emphasis on the development of technology and applications, which can be transferred for use to industry and society. This required carrying out basic research that can be used to solve real life problems. As a result, a synergistic relationship has come to exist at the Institute between basic and applied research. Faculty carries out a number of academic industrial projects, and a few companies have been incubated based on the research done at the Institute</p>
								</div>
							</div>
							<div class="col-md-6 what-grid">
								<div class="what-bottom1">
									<h4>Programmes and Opportunities</h4>
                                    <p>The Institute combines pioneering research with top class education. An innovative curriculum allows the student flexibility in selecting courses and projects. Students, even at the undergraduate level, get to participate in ongoing research and technology development - an opportunity unprecedented in India. As a result, a vibrant undergraduate programme co-exists with a strong postgraduate programme.</p>
                                    <p>Recognizing that the goal of education is to develop a broad and humanistic outlook among students (and beyond), the Institute runs a unique human values programme at the undergraduate level. Regular faculty conducts the programme. Also, elements of the programme are made available to IIIT-H’s postgraduate students, faculty and students at other universities and colleges, and any interested individual or organization.</p>
								</div>
								<div class="mask">
									<img src="{% static 'AlumniManagement/images/opportunity.jpg' %}" class="img-responsive zoom-img" />
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			<!--What we do-->
			<!--statistics--->
						<div class="statistics-w3">
							<div class="container">
								<h3 class="tittle">Interesting Facts</h3>
								<div class="statistics-grids">
									<div class="col-md-3 statistics-grid">
										<div class="statistic">
                                            <h5>Accredation</h5>
                                            <h5>Grade A</h5>
											<p>Accredited at Grade A by National Assessment & Accreditation Council (NAAC)</p>
										</div>
									</div>
									<div class="col-md-3 statistics-grid">
										<div class="statistic">
											<h5>Placements</h5>
											<h5>Happy Students</h5>
											<p>Ranked in the top 5 overall and #1 in campus placement, including the IITs</p>
										</div>
									</div>
									<div class="col-md-3 statistics-grid">
										<div class="statistic">
											<h5>Ranking</h5>
											<h5>In Top 6</h5>
											<p>Ranked top 6 among Universities in South Asia, in terms of research papers.</p>
										</div>
									</div>
									<div class="col-md-3 statistics-grid">
										<div class="statistic">
											<h5>Awards</h5>
											<h5>Codechef</h5>
											<p>At least five of the top 20 winners at the Codechef’s programming contests.</p>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					<!--statistics--->
				</div>
		<!--content-->
{% endblock %}