{% extends './codes_edited.html' %}
{% load staticfiles %}
{% block content %}

    <div class="content">
			<!--contact-->
			<div class="contact-w3l">
				<div class="container">
					<h2 class="tittle">How To Find Us</h2>
					<div class="contact-bottom">
						<iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ9wpi66KTyzsRji0O2WbMP5Q&key=AIzaSyDsMKUa80ABlaFc0xVjYJV-5nvXkGccteo"  allowfullscreen></iframe>
					</div>
					<div class="col-md-4 contact-left">
						<div class="contct-info">
							<h4> Contact Information</h4>
							<ul>
								<li>International Institute of Information Technology</li>
								<li>Gachibowli, Hyderabad 500 032</li>
								<li>Telangana, INDIA</li>
								<li>Phone : +91-40-6653 1000</li>
                                <li>Fax : +91-40-6653 1413</li>
							</ul>
						</div>
					</div>
{#					<div class="col-md-8 contact-left cont">#}
{#						<div class="contct-info">#}
{#							<h4>Contact Form</h4>#}
{#							<form action="#" method="post"  onsubmit="alertUser()">#}
{#								<div class="row">#}
{#									<div class="col-md-6 row-grid">#}
{#									<input type="text" name="Name" placeholder="Your Name" required>#}
{#									</div>#}
{#										<div class="col-md-6 row-grid">#}
{#											<input type="text" name="Email" placeholder="Email address" required>#}
{#									</div>#}
{#									<div class="clearfix"></div>#}
{#								</div>#}
{#								<div class="row">#}
{#									<div class="col-md-6 row-grid">#}
{#									<input type="text" name="Subject" placeholder="Subject" required>#}
{#									</div>#}
{#										<div class="col-md-6 row-grid">#}
{#									<input type="text" name="Subject" placeholder="Phone number" required>#}
{#									</div>#}
{#									<div class="clearfix"></div>#}
{#								</div>#}
{#								<textarea placeholder="Message" name="Message" ></textarea>#}
{#								<input type="submit" value="Submit">#}
{#								<input type="reset" value="Clear" >#}
{#							</form>#}
{#						</div>#}
{#					</div>#}
				</div>
			</div>
			<!--contact-->
		</div>

{% endblock %}