{% extends './codes_edited.html' %}
{% load staticfiles %}
{% block content %}

    		<!--content-->
		<div class="content">
			<!--about-->
			<div class="about-w3">
				<div class="container">
					<h2 class="tittle">Home</h2>
					<div class="about-grids">
						<div class="col-md-6 about-grid">
						 <h4>At a Glance</h4>
							 <p>The International Institute of Information Technology, Hyderabad (IIIT Hyderabad) is an Information technology research university based in Hyderabad, Telangana, India. It was the first autonomous private institute of its kind to be established in 1997. IIIT Hyderabad is one of the top Computer Science institutes of the country. It emphasizes research from the undergraduate level.The institute runs Computer Science courses and research projects and is focused on research. It gives the students interaction with industry, preparation in entrepreneurship and personality development courses.</p>
							<ul class="grid-part">
								<li><i class="glyphicon glyphicon-ok-sign"> </i> Emphasizes research from the undergraduate level.</li>
								<li><i class="glyphicon glyphicon-ok-sign"> </i>Consistent performer from India in ACM International Collegiate Programming Contest (ICPC)</li>
								<li><i class="glyphicon glyphicon-ok-sign"> </i>Several research centres exist here, all conducting some very exciting research.</li>
							</ul>
						 </div>
						<div class="col-md-6 video-grid">
							<iframe  src="https://www.youtube.com/embed/379s_WzePts" frameborder="0"  allowfullscreen></iframe>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!--about-->

		</div>
		<!--content-->
{% endblock %}