{% extends './codes_edited.html' %}

{% block content %}


    <div>
        <h1 class="text-center text-primary">Opportunities</h1>
    </div>

    <div style="margin-bottom: 1%">
        <form action="{% url 'Opportunitysearch' %}" method="get" class="navbar-form navbar-right">
            <div class="form-group">
                <input  id="search_box" type="text" name="search_box"  placeholder="Search..." class="form-control" >
            </div>
            <button id="search_submit" type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>


    {% if opportunities %}
        <div class="container">
            <table class="table table-hover table-bordered">
                <div>
                    {%  for opportunity in opportunities %}
                        <tr>
                            <td class="col-sm-3 text-info">
                                    <p>
                                        <h5>{{ opportunity.opportunity_info }}</h5>
                                    </p>
                            </td>

                            <td class="text-info">
                                <p>
                                    <h5>
                                <b class="text-primary">Number of Vacancy - </b>
                                        {% if opportunity.number_of_vacancy != 0 %}
                                            {{ opportunity.number_of_vacancy }}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </h5>
                                </p>

                                <br>

                                <p>
                                    <h5>
                                <b class="text-primary">Expiration Date - </b>
                                        {% if opportunity.expiration_date  %}
                                            {{ opportunity.expiration_date }}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </h5>
                                </p>

                                <br>

                                <h5>
                                    <b class="text-primary">Posted by - </b>
                                    {{ opportunity.posted_by.first_name }}
                                    {{ opportunity.posted_by.last_name }}
                                </h5>

                                <br>

                                <h5>
                                    <b class="text-primary">Email-Id - </b>
                                    {{ opportunity.posted_by.email }}
                                </h5>

                                <br>

                                <h5>
                                    <b class="text-primary">Posted on - </b>
                                    {{ opportunity.create_date }}
                                </h5>
                            </td>

                            <td >
                                <div>
                                    <form action="{% url 'viewOpportunity' opportunity.id %}" method="get"  class="col-xs-2">
                                        <button id="search_submit" type="submit" class="btn btn-info">View</button>
                                    </form>

                                    {% if request.user.pk == opportunity.posted_by.pk %}
                                        <form action="{% url 'updateOpportunity' opportunity.id %}" method="get"  class="col-xs-2">
                                            <button id="edit_submit" type="submit" class="btn btn-info">Edit</button>
                                        </form>
                                        <form action="{% url 'deleteOpportunity' opportunity.id %}" method="get"  class="col-xs-2">
                                            <button id="delete_submit" type="submit" class="btn btn-info">Delete</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>


                        </div>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    {% else %}
        <h4>Keep visiting as of now no opportunities are posted</h4>
    {% endif %}



{% endblock %}